@import './chat.css';
@import './memory-game.css';
@import './window.css';
@import './taskbar.css';
@import './icons.css';
@import './menubar.css';
@import './buttons.css';

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
}

#desktop {
  background-image: url('../img/desktop-background1.jpg');
  border: 16px solid gray;
  position: relative;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  padding: 10px;
}
